<footer class="footer-section">

    <div class="container">
        <!-- Container -->
        <div class="footer-cta pt-5 pb-5">
            <!-- Footer-content -->
            <div class="row">
                <!-- Row -->

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-video"></i>
                        <div class="cta-text">
                            <h4>Demo Video</h4>
                            <span>Full video of our website</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mail us</h4>
                            <span>ibmntims@gmail.com</span>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fab fa-github"></i>
                        <div class="cta-text">
                            <h4>Github</h4>
                            <span>For more details you can <a
                                    href="https://github.com/IBM-EPBL/IBM-Project-18747-1659689186">view here</a></span>
                        </div>
                    </div>
                </div>

            </div> <!-- Row -->
        </div> <!-- Footer-cotent -->

        <div class="footer-content d-flex align-items-center justify-content-center pt-2">

            <!-- Copyrights -->
            <p center>Copyright &copy; 2022, All Right Reserved <strong>IMS</strong></p>

        </div>
    </div> <!-- Container -->

</footer>